<div id="<%= dom_id recipe %>">
  <p>
    <%= image_tag recipe.image, size: "100x100" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

</div>
