<div id="<%= dom_id recipe %>">
  <% if recipe.image.attached? %>
    <p>
      <%= image_tag recipe.image, size: "100x100" %>
    </p>
  <% end -%>

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>
</div>
